@charset "utf-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Pretendard-Regular";
}
.Simg::after {
  content: "";
  display: inline-block;
  background: url(../images/sp_com.png) no-repeat;
  background-size: 800px 800px;
}
.inner {
  margin: auto;
  width: 1180px;
}
header {
  position: relative;
  width: 100%;
  height: 80px;
  margin: auto;
  padding-top: 14px;
  background-color: #fff;
  letter-spacing: -1px;
}
.logo {
  float: left;
  margin-left: 50px;
}
.logo a::after {
  width: 140px;
  height: 55px;
}
.gnb {
  position: absolute;
  top: 31px;
  left: 50%;
  transform: translateX(-50%);
}
.gnb li {
  float: left;
  font-size: 18px;
}
.gnb li ~ li {
  padding-left: 60px;
}
.fr {
  float: right;
  margin: 15px 45px;
}
.fr > li {
  float: left;
  font-size: 14px;
  padding-left: 9px;
}
.fr > li ~ li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 7px;
  background: #ccc;
  margin-right: 9px;
  vertical-align: middle;
}

.main_visual {
  position: relative;
  width: 1920px;
  margin: auto;
}
.main_visual img {
  width: 100%;
  object-fit: cover;
}
.quick {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 143px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.quick li {
  display: inline-block;
  padding: 29px 0 33px;
}
.quick li:nth-child(2) {
  padding: 0 100px;
}
.quick li img {
  display: block;
  width: 50px;
  height: 50px;
}
.quick li span {
  display: inline-block;
  padding-top: 18px;
}

.review {
  position: relative;
  background-color: #fff;
  height: 716px;
  margin-top: 109px;
}
.tit {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 15px;
}
.tac {
  text-align: center;
}
.review ul {
  text-align: center;
  font-size: 0;
}
.review li {
  display: inline-block;
}
.review li .reImg {
  width: 378px;
  height: 380px;
  border: 1px solid #e5e5e5;
  margin: 71px 0 17px;
}
.review li:nth-child(2) {
  margin: 0 20px;
}
.review li dl {
  position: relative;
  height: 98px;
  padding: 25px 0 0 129px;
  text-align: left;
  font-size: 16px;
  border-top: 1px dashed #ddd;
}
.review li dl dt {
  font-weight: bold;
  margin-bottom: 20px;
}
.review li dl dt:hover {
  text-decoration: underline;
}
.review li dl dd {
  color: #1d1d1d;
}
.review li dl dd:hover {
  text-decoration: underline;
}
.review li dl img {
  position: absolute;
  bottom: 0;
  left: 20px;
  display: inline-block;
  width: 80px;
  border-radius: 40px;
}
.review .page li {
  display: block;
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 5px;
  background-color: #bbc0bf;
}
.review .page li:first-child {
  left: 509px;
  background-color: #2d5b79;
}
.review .page li:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
  margin: 0 6px;
}
.review .page li:last-child {
  right: 500px;
}
.more {
  position: absolute;
  top: 61px;
  right: 18px;
}
.more:hover {
  text-decoration: underline;
}
.more::after {
  width: 9px;
  height: 16px;
  margin-left: 5px;
  background-position: -450px -71px;
}
.insta {
  background-color: #fff;
  height: 537px;
  margin-top: 164px;
}
.insta p {
  margin: 19px 0 55px;
}

.insta .tab {
  position: relative;
  text-align: center;
}
.insta .tab > li {
  display: inline-block;
}
.insta .tab > li ~ li {
  margin-left: 5px;
}
.insta input {
  display: none;
}
.insta label {
  padding: 8px 10px;
  border-radius: 25px;
  background-color: #ddd;
}
.tab_content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  width: 100%;
  text-align: center; /*중앙정렬, 가로배치로 float:left; 사용 불가 > display:inline-block;으로만 가능*/
  font-size: 0;
}
.insta label:hover {
  cursor: pointer;
}
.insta input:checked ~ .tab_content {
  display: block;
}
.insta .tab_content > li {
  display: inline-block; /*가로배치*/
}
.insta .tab_content li ~ li {
  margin-left: 20px;
}
.insta .tab_content img {
  width: 280px;
  height: 350px;
}

.magazine {
  width: 100%;
  height: 670px;
  margin-top: 150px;
  background-color: #f2f0ed;
}
.magazine h2 {
  padding-top: 42px;
}
.magazine p {
  margin: 14px 0 42px;
}
.magazine .slide {
  height: 431px;
  overflow: hidden;
}
.magazine .slide > li {
  position: relative;
}
.magazine .slide .list {
  position: absolute;
  left: 800px;
  top: 0;
  width: 400px;
  height: 430px;
  background-color: #fff;
}
.magazine .slide .list li {
  margin: 20px 15px 22px 20px;
}
.magazine .slide .list dl {
  position: relative;
  height: 82px;
}
.magazine .slide .list dl:hover dd {
  text-decoration: underline;
}
.magazine .slide .list dt {
  position: absolute;
  top: 22px;
  left: 99px;
  font-size: 14px;
}
.magazine .slide .list img {
  position: absolute;
  width: 82px;
  height: 82px;
}
.magazine .slide .list dd:last-child {
  position: absolute;
  top: 47px;
  left: 99px;
  font-size: 16px;
}

.best {
  height: 570px;
  margin-top: 150px;
  background-color: #fff;
}
.best p {
  margin: 16px 0 43px;
}
.best ul {
  text-align: center;
  font-size: 0;
}
.best li {
  position: relative;
  display: inline-block;
}
.best img {
  width: 380px;
  height: 456px;
}
.best li:nth-child(2) {
  margin: 0 19px;
}
.exp {
  display: none;
  width: 380px;
  height: 456px;
}
.exp h2 {
  display: none;
  font-size: 30px;
}
.exp p {
  display: none;
  text-align: left;
  font-size: 16px;
}
.best a:hover .exp,
.best a:hover .exp > h2,
.best a:hover .exp > p {
  position: absolute;
  bottom: 0;
  display: block;
  background-color: #000;
  color: #fff;
}
.best a:hover .exp > h2 {
  left: 30px;
  bottom: 100px;
}
.best a:hover .exp > p {
  left: 30px;
}

.youtube {
  height: 330px;
  margin-top: 100px;
  margin-bottom: 150px;
  background-color: #fff;
}
.youtube ul {
  margin-top: 40px;
}
.youtube ul img {
  display: block;
  margin-bottom: 15px;
}
.youtube li {
  float: left;
  text-align: center;
}
.youtube li:hover {
  text-decoration: underline;
}
.youtube li ~ li {
  margin-left: 20px;
}

footer {
  height: 330px;
  letter-spacing: -1px;
  color: #fff;
  background-color: #212121;
}
.up {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 86px;
  border-bottom: 2px solid #4d4d4d;
}
.up_content li {
  float: left;
  padding: 10px 0;
}
.up_content li:first-child {
  width: 75px;
}
.up_content li:nth-child(2) a {
  display: inline-block;
  width: 885px;
}
.up_content li:nth-child(2) a:hover {
  text-decoration: underline;
}
.up_content li:last-child {
  float: right;
  margin-right: 35px;
  text-decoration: underline;
}

.footer {
  position: relative;
  padding-top: 100px;
}
.flogo::after {
  margin-top: 30px;
  width: 130px;
  height: 50px;
  background-position: -150px 0;
}
address {
  position: absolute;
  top: 86px;
  left: 180px;
  padding: 40px 60px;
  font-size: 14px;
  color: #999;
  border-left: 1px solid #4d4d4d;
  border-right: 1px solid #4d4d4d;
}
address p {
  margin-bottom: 20px;
}
address p small {
  display: block;
}
address .line span:hover {
  text-decoration: underline;
}
address .line > span ~ span {
  margin-left: 10px;
}
address .line > span ~ span::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #999;
  margin-right: 10px;
  vertical-align: middle;
}
.sns {
  position: absolute;
  top: 126px;
  right: 140px;
}
.sns li {
  float: left;
  padding: 0 10px;
}
.sns li:first-child a::after {
  width: 29px;
  height: 22px;
  margin-top: 3px;
  background-position: -321px -642px;
}
.sns li:nth-child(2) a::after {
  width: 30px;
  height: 30px;
  background-position: -351px -638px;
}
.sns li:last-child a::after {
  width: 28px;
  height: 28px;
  margin-top: 1px;
  background-position: -381px -639px;
}
.footer button {
  float: right;
  width: 180px;
  height: 40px;
  padding: 10px 20px;
  margin: 40px 100px 0 0;
  text-align: left;
}
